{{page-title "Expense Tracker"}}

<div align="center">
  <h1>Expense Tracker</h1>
  <LinkTo @route="index">Home</LinkTo>
  <LinkTo @route="expense">Add Transaction</LinkTo>
  <LinkTo @route="manage-expenses">Manage Transactions</LinkTo>
  <LinkTo @route="user-guide">How to Use</LinkTo>
  <hr>
</div>

{{outlet}}

