<div align="center">
  <h3>Welcome !</h3>
  <p style="width:80%">
    Expense Tracker is a user-friendly tool designed to help you effortlessly manage your finances and keep a close eye on your spending habits. With a clean and intuitive interface, the tracker allows you to record your income and expenses efficiently. The main dashboard presents a snapshot of your financial status, displaying your current balance prominently at the top. The use of clear headings and visual elements, such as the balance container and relevant icons, ensures that you can quickly grasp your overall financial health at a glance.
  </p>
</div>